@using JetBrains.Space.AspNetCore.Authentication
<ul class="navbar-nav">
@if (User.Identity!.IsAuthenticated)
{
    <li class="nav-item">
        <img src="/space-attachments/@User.Identity.GetClaimValue(SpaceClaimTypes.SmallAvatar)" alt="Profile picture" width="32" height="32" />
        @User.Identity.GetClaimValue(SpaceClaimTypes.FirstName) @User.Identity.GetClaimValue(SpaceClaimTypes.LastName)
    </li>
}
</ul>