<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="SpaceDotNet" value="https://packages.jetbrains.team/nuget/spacedotnet/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
    <SpaceDotNet>
      <add key="Username" value="%JB_SPACE_CLIENT_ID%" />
      <add key="ClearTextPassword" value="%JB_SPACE_CLIENT_SECRET%" />
    </SpaceDotNet>
  </packageSourceCredentials>
</configuration>